#questList {
    background-color: blue;
    color: white;
}

#questList>* {
    color: red;
    display: inline;
}

.checkbox {
    /* display: inline; */
    margin-right: 1ch;
}

.colorBlue {
    color: lightblue;
}

.colorRed {
    color: red;
}

.title {
    /* display: inline; */
    
}

.subquest {
    margin-left: 1rem;
}